html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: #EDE574; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574);
    background-size: 100% 100%;
    background-image: url('newfolder/danbo-figures-love-longing.jpg');
}

.welcome {
    position: absolute;
    /* top: 10%; */
    /* left: 24%; */
    font-weight: bolder;
    color:ghostwhite;
    z-index: 1;
    font: 800;
    text-align: right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navstyle {
    background: #EDE574; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E1F5C4, #EDE574); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E1F5C4, #EDE574);
}

.para {
    position: relative;
    top: 40%;
    left: 10%;
    color:white;
    text-align: left;
}
.paragraph {
    
    top: 40%;
    left: 10%;
    color:floralwhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.button {
    position: center;
    margin-bottom: 10px;
    margin-top: 100px;
    margin-left: 300px;
}

.parag {
    position: relative;
    top: 40%;
    left: 10%;
    color:navajowhite ;
    text-align: left;
    font-size: large;
}
