@model DBS_services.Models.EXRegistration
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "login";
    ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("Error");
    
}
@if (ViewBag.Data == "Error")
{
    <div><h2>Entered User ID or Password is incorrect</h2></div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h4>Executive login</h4>
            <hr />

            <div class="form-group">
                <label asp-for="ExecName" class="control-label"></label>
                <input asp-for="ExecName" type="text" class="form-control" pattern="([a-z[A-Z]])" required />
                <span asp-validation-for="ExecName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Register">NewUsers ClickHere</a>
</div>




   




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
