@model DBS_services.Models.CRegistration
@inject IHttpContextAccessor HttpContextAccessor
@{

    ViewData["Title"] = "login";
    ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("Error");
    //var loginValdiation = TempData["Error"];
}
@if (ViewBag.Data == "Error")
{
    <div>
        <h2 style="color:white">You have Entered Incorrect UserId Or Password</h2>
    </div>

}


<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color:navajowhite">
        <h4>Customer login</h4>
        <hr />
        <form asp-action="login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="font-weight-bold"></label>
                <input asp-for="FirstName" type="text" class="form-control" pattern="([a-z[A-Z]])" title="Must contain at least one uppercase only text is allowed" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="font-weight-bold"></label>
                <input asp-for="Password" type="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group " >
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <br />          
            <div>
                <a asp-action="Register" class="btn btn-primary">NewUsers ClickHere</a>
            </div>
        </form>
      
    </div>

    <div class="col-md-4"></div>

</div>




@*<script>
   function validate() {
  var element = document.getElementById('input-field');
  element.value = element.value.replace(/[^a-zA-Z0-9]+/, '');
}
</script>
*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
